* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}

:root{
--MainColor:rgb(255, 255, 255);
--Pagebackround:#272727;
--refsColor: #f7f3f3;
--Subtitles: rgba(255, 255, 255, 0.548);
--RefHover: rgb(29, 29, 29);
--min: rgba(255, 255, 255, 0.548);
}

body {
    background-color: var(--Pagebackround);
    overflow-x: hidden;

    
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(133, 132, 132);
    border-radius: 10px;
}
h1,h2,h3,h4{
    color: var(--MainColor);

}
.main {
    text-align: center;
        margin-top: 20%;
        font-size: 70px;
}
.min {
            text-align: center;
            color: var(--min);
            font-size: 25px;
}
.refs-container {
    text-align: center;
}

.thememenu {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 1.2rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    margin-top: 1%;
    transition: 0.5s ease-in-out;
    background: var(--refsColor);
    color: var(--Pagebackround);
    cursor: pointer;
}


.refs {
    border-radius: 360px;
    text-decoration: none;
    width: 25px;
    height: 35px;
    padding: 1.2rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    margin-top: 1%;
    transition: 0.5s ease-in-out;
     background: var(--refsColor);
     color: var(--Pagebackround);
}

.refs:hover {
    background: var(--RefHover);
    color: var(--MainColor);
    text-decoration: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    z-index: 9999;
}

.loading {
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.main-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid var(--MainColor);
  animation: bounce 2s ease-in-out infinite;
}

.projects {
    height: 1000px;
}
.about {
    height: 500px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.row {
    max-width: 900px;
    margin: 50px auto 0;
}

.card {
    float: left;
    padding: 0 1.7rem;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.card .menu-content::before,
.card .menu-content::after {
    content: '';
    display: table;
        border-radius: 15px;

}

.card .menu-content::after {
    clear: both;
}

.card .menu-content li {
    display: inline-block;
}

.card .menu-content a {
    color: var(--MainColor);
}

.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    transform: translate(-50%, 0);
}

.card .wrapper {
    background-color: var(--MainColor);
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
    transform: translateY(0);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.75s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .title {
    margin-top: 10px;
}

.card .text {
    height: 70px;
    margin: 0;
    color: var(--Pagebackround);
}

.card .button {
height: 20px;
margin: 0;
width: 25px;
background-color: var(--Pagebackround);
color: var(--MainColor);
padding: 12px;
border-radius: 15px;
cursor: pointer;
transition: color 0.5s linear;
}

.card .button:hover {
    color: var(--Subtitles)
}
.card-1 .wrapper {
    border-radius: 15px;
}


.card-1 .content {
    background-color: var(--MainColor);
    box-shadow: 0 5px 30px 10px var(--Pagebackround)
}

.card-1 .title a {
    color:var(--Pagebackround);
}

@media only screen and (max-width: 767px) {
    .card {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 1.7rem;
    }
    .projects {
        height: 2500px;
    }

}

.text-1 {
position: relative;
}
.text-2 {
position: relative;
}
.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.themebox {
    background-color: var(--refsColor);
    border-radius: 0.5rem;
}

.themebox>* {
    margin: 0;
}

.themebox>*:not(:last-child) {
    margin-bottom: 0.75rem;
}

.visually-hidden {
    opacity: 0;
        filter: blur(10px);
        transform: translateX(-100%);
        transition: all 1s;
}

.smoothslide {
        opacity: 1;
            filter: blur(0);
            transform: translate(0);
                transition: all 1s;
}

.theme-menu {
    opacity: 1;
    transition: opacity 0.25 ease-in-out;
}

.theme-menu.visually-hidden {
    display: none;
}


.color-picker>fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background: var(--refsColor);
    padding: 5rem 5rem;
    margin-inline: 58px;
    margin-top: -6%;
    border-radius: 5px;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentcolor);
    outline-offset: 3px;
    border-radius: 50%;
}
/*  Color picker*/
.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#dark {
    --radio-color: rgb(3, 3, 3);
}

.color-picker input[type="radio"]#light {
    --radio-color: rgb(182, 182, 182);
}
.dark {
    --MainColor: rgb(255, 255, 255);
    --Pagebackround: #272727;
    --refsColor: #f7f3f3;
    --Subtitles: rgba(255, 255, 255, 0.548);
    --RefHover: rgb(29, 29, 29);
}

label{
    color: var(--Pagebackround);
}

:root:has(#dark:checked) {
--MainColor: rgb(255, 255, 255);
    --Pagebackround: #272727;
    --refsColor: #f7f3f3;
    --Subtitles: rgba(255, 255, 255, 0.548);
    --RefHover: rgb(29, 29, 29);
    --min: rgba(255, 255, 255, 0.548);
}

:root:has(#light:checked) {
        --MainColor:#272727; 
        --Pagebackround: rgb(255, 255, 255);
        --refsColor: #272727;
        --Subtitles: rgba(29,29,29, 0.548);
        --RefHover: rgb(185, 181, 181);
        --min: rgba(53, 53, 53, 0.548);
}
